*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans',sans-serif;
}
body{
    background-color: black;
    color: white;
    
}
#sec-1{
    background-image: url(../res/imgs/sec1-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec-1_circle{
    background-image: url(../res/imgs/circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vw;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec-1_circle::after{
    content: "";
    height: .5vw;
    width: 5vw;
    background-color: #f15048;
    margin-top: 3vw;
}

.sec-1_circle h1{
    font-size: 3vw;
    width: max-content;
    margin-bottom: .5vw;
}
.sec-1_circle h3{
    font-size: 1.5vw;
    width: max-content;
    font-weight: 300;
}

#sec-2{
    height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#sec-2 h1{
    font-size: 2.5vw;
    margin-bottom: 3vh;
}
#sec-2 h2{
    font-size: 1.7vw;
    font-weight: 200;
    word-spacing: 3px;
    width: calc(60vw - 30vh);
}

#sec-3{
    background-image: url(../res/imgs/sec-3_main.png);
    background-repeat: no-repeat;
    background-size: 100% 90vh;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
}

.sec-3_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 30vh;
    text-align: center;
    position: relative;
    top: -8vh;
}

.sec-3_num{
    height: max-content;
    width: max-content;
    background-color: #f15048;
    padding: 15px 10px 15px 10px;
    margin-bottom: 5vh;
}
.sec-3_content{
    padding-top: 5vh;
    font-size: .8em;
    font-weight: 100;
}
#sec-3_sec{
    height: 40vh;
}

#sec-3_sec img{
    width: 80%;
    height: 140%;
    position: relative;
    top: -18vh;
    left: 10%;
}

#sec-4{
    background-image: url(../res/imgs/sec-4_main.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sec-4_content{ 
    text-align: center;
    width: 45%;
}
.sec-4_content :nth-child(1){
    font-size: 2.2em;
    margin: 3vh;
}
.sec-4_content :nth-child(2){
    font-size: 1.8em;
    /* margin-bottom: 3vh; */
}

.sec-4_imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -5vh;
}
.sec-4_imgs a{
    width: 20%;
    height: 80%;
}
.sec-4_imgs a img{
    width: 100%;
    height: 130%;
}
.sec-4_button {
    position: relative;
    top: -2vh;
}
.sec-4_button input{
    padding: 1.3vh 1.8vw 1.3vh 1.8vw;
    color: white;
    font-size: 1.2em;
    background-color: #f15048;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}
.sec-4_button :hover{
    background-color: #ef342b;
}

#sec-5{
    height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#sec-5 h1{
    font-size: 3em;
    margin-bottom: 3vh;
}
#sec-5 h2{
    font-size: 1.7em;
    font-weight: 200;
    word-spacing: 3px;
    width: 16em;
}

#sec-6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.sec-6_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    gap: 5vw;
}

.sec-6_innercontainter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5vw;
    /* align-items: center; */
}

.sec-6_img{
    position: relative;
    top: -1.5em;
}
.sec-6_content{
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#sec-7{
    background-image: url(../res/imgs/sec-7_main.png);
    background-repeat: no-repeat;
    background-size: 100% 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
}

.sec-7_content{
    width: 26.5%;
    font-size: 2em;
}

.sec-7_label{
    width: 26%;
    font-size: 1.8em;
}

.sec-7_label :nth-child(2){
    font-size: 2em;
    margin-top: 1em;
    color: #f15048;
}
#sec-7 .sec-7_img img{
    width: 25em;
    height: 30em;
}



#sec-8{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec-8 .sec-8_slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec-8 .sec-8_img img{
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

#sec-8 .sec-8_content{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 5em;
}
#sec-8 .sec-8_content p{
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: 1.5em;
}

.sec-8_slide .sec-8_slide_title p{
    font-size: 3em;
    margin-bottom: 1.5em;
}
#sec-8 .two{
    display: none;
}

#sec-9{
    height: 5em;
    background-color: #333333;
    display: flex;
    gap: 5em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}







@media only screen and (max-width: 1300px) {
    .sec-1_circle{
        height: 35vw;
        width: 35vw;
    }
    .sec-1_circle h1{
        font-size: 4vw;
    }
    .sec-1_circle h3{
        font-size:2vw ;
    }
    #sec-2 h1{
        font-size: 4vw;
    }
    #sec-2 h2{
        font-size: 3vw;  
        width:calc(60vw - 10vh);
    }
    .sec-3_container{
        width: 30vw;
    }
    #sec-3_sec img{
        top: -16vh;
    }
} 
@media only screen and (max-width: 800px) {
    .sec-1_circle{
        height: 45vw;
        width: 45vw;
    }
    .sec-1_circle h1{
        font-size: 5vw;
    }
    .sec-1_circle h3{
        font-size:3vw ;
    }

    #sec-2 h1{
        font-size: 4vw;
    }
    #sec-2 h2{
        font-size: 3vw;  
        width: calc(60vw);
    }
    #sec-3{
        flex-direction: column;
        height: 100vh;
        background-size: 100% 110vh;
    }
    .sec-3_container{
        width: 100%;
    }
    .sec-3_num{
        margin-bottom: 3vh;
    }
    .sec-3_content{
        padding-top: 3vh;
    }
    #sec-3_sec img{
        top: -7vh;
    }
} 